.sapSuiteUiCommonsNetworkElementSelected .selectableLabel.sapMLabel {
	color: inherit;
}

.loopLine {
	stroke-width: 4px;
}

.hoveredLoopLine {
	stroke-width: 8px;
}

.assignedObject.sapUiIconColorContrast, .assignedObject.sapUiIconColorDefault {
    padding: 3px 0px;
    border-bottom: 2px solid;
}